@import 'variables';

.nav {
  display: flex;
  align-items: center;
  gap: 4rem;
  font-size: $size-btn;
  margin-left: auto;

  @media all and (max-width: $media-m) {
    position: fixed;
    right: 0;
    top: 0;
    flex-direction: column;
    background-color: $color-white;
    padding: 10rem 6rem 4rem;
    height: 100vh;
    width: 100%;
    max-width: 30rem;
    z-index: 1;

    transform: translateX(100%);
    transition: all .3s ease-out;
  }

  @media all and (max-width: $media-s) {
    max-width: 100vw;
  }

  &_active {
    transform: translateX(0%);
    transition: all .3s ease-in;
  }

  &__link {
    text-decoration: none;
    color: $color-black;
    flex-shrink: 0;
  }
}