//color
$color-grey: #f3f3f3;
$color-green: #B9FF66;
$color-dark: #191A23;
$color-black: #000;
$color-white: #fff;

//size
$size-h1: 6rem;
$size-h2: 4rem;
$size-h3: 3rem;
$size-h4: 2rem;
$size-h1-mob: 4.3rem;
$size-h2-mob: 3.6rem;
$size-h3-mob: 2.6rem;
$size-h4-mob: 1.8rem;

$size-p: 1.8rem;
$size-p-mob: 1.6rem;

$size-btn: 2rem;

//weight
$weight-regular: 400;
$weight-medium: 500;

//media
$media-m: 1200px;
$media-s: 500px;

//font
$font-family: "Space Grotesk", sans-serif;
$font-size-base: 10px;

//border-radius
$radius-card: 4.5rem;

//box-shadow
$box-shadow-dark: 0 5px 0 0 $color-dark;